.emp-main{
    margin-left: 250px;
    width: calc(100%-200px);
    background-color: #FAFAFA;
    margin-top: 50px;
    padding-top: 5px;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.heading{
    padding: 20px;
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
}
.heading h1{
 width: 60%
}
.emp-form{
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    color: rgb(66, 66, 66);
    font-size: 0.9rem;
}
